<a href="https://colab.research.google.com/github/GabeMaldonado/AIforMedicine/blob/master/AIforMed_C2_W4_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Categorical Variables and One-hot Encoding

In [0]:
import pandas as pd

In [3]:
# Create an example dataframe

df = pd.DataFrame({'ascites' : [0,1, 0, 1 ],
                   'edema' : [0.5, 0, 1, 0.5],
                   'stage' : [3, 4, 3, 4],
                   'cholesterol' : [200.5,180.2,190.5,210.3]}
                  )
df

   ascites  edema  stage  cholesterol
0        0    0.5      3        200.5
1        1    0.0      4        180.2
2        0    1.0      3        190.5
3        1    0.5      4        210.3

In this small example dataframe we can see three categorical variables: 
*   'ascites' -- its values are either 0 and 1
*   'edema' -- it's values are either 0, 0.5 or 1 
*   'stage' -- it's values are either 3 or 4

'Cholesterol' is not a categorical variable, it is a continous variable and it can be any number greater than 0.

### Which categorical variables to one-hot encode?
We can see that:
*    ascites' values are already either 1 or 0 so there is no need to one-hot encode it. 1 means a disease is present and 0 means no disease. 
*   Edema, (swelling in any part of the body), has 3 categories represented by the values of 0, 0.5 and 1. We can one-hot encode this variable so that there is one feature column for each of the possible values:
   *   0 -- no edema
   *   0.5 -- patient has edema but has not received diuretic treatment 
   *   1 -- patient has edema despite receiving diuretic treatment -- indicates that the condition can be more severe